<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src='../static/Chart.min.js'></script>
    <title>Account Details</title>
</head>

<body style="background-image:url('../static/img/background2.jpg'); color:aliceblue;">
    <div>
        <nav class="navbar navbar-expand-lg" style="background-color: #00030c;">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <div style="margin-left:50px; margin-bottom:20px;margin-right: 10px; padding-top: 10px;">
                        <img src="../static/img/logo1.png" alt="logo" style="width:55px; height:55px;">
                    </div>
                    <a class="navbar-brand" href="#" style="color:rgb(240, 247, 255);">
                        <h1>VISON WEALTH</h1>
                    </a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 250px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" style="color:aliceblue;">Home |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" style="color:aliceblue;">Products
                                |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" style="color:aliceblue;">About Us
                                |</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"
                                style="color:aliceblue;">Newsletter</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div>
            <div class="d-flex" style="justify-content:space-between;">
                <a href="/user_logout"><button class="btn btn-primary"
                        style="margin-left:1429px; margin-right:13px; margin-bottom:50px;">Logout</button></a>
            </div>
            <div>
                <h3 style="margin-left:50px; margin-bottom: 50px;">Good day, {{one_user.first_name}}</h3>
                <h4 style="margin-left:50px;">Vision Wealth Advantage Banking</h4>
                <h5 style="color:gray; margin-left:50px;">Recent Transactions</h5>
            </div>
            <div>
                <table class="table table-striped" style="margin-left:50px;">
                    <thead>
                        <tr style="color:rgb(252, 252, 252)">
                            <td>Date</td>
                            <td>Transaction Description</td>
                            <td>Debit</td>
                            <td>Credit</td>
                            <td>Balance</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for one_account_data in account_data %}
                <tr>
                    <td>{{one_account_data.date}}</td>
                    <td>{{one_account_data.transaction_description}}</td>
                    <td style="color:green">{{one_account_data.debit}}</td>
                    <td style="color:red">{{one_account_data.credit}}</td>
                    <td>{{one_account_data.balance}}</td>
                </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<div>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
            ></a>
    
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
            ></a>
    
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
            ></a>
    
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
            ></a>
    
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
            ></a>
    
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    
        <!-- Section: Form -->
        <section class="">
            <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-auto">
                <p class="pt-2">
                    <strong>Sign up for our newsletter</strong>
                </p>
                </div>
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-md-5 col-12">
                <!-- Email input -->
                <div class="form-outline form-white mb-4">
                    <input type="email" id="form5Example21" class="form-control" placeholder="Email Address" />
                    <label class="form-label" for="form5Example21" ></label>
                </div>
                </div>
                <!--Grid column-->
    
                <!--Grid column-->
                <div class="col-auto">
                <!-- Submit button -->
                <button type="submit" class="btn btn-outline-light mb-4">
                    Subscribe
                </button>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
    
        <!-- Section: Text -->
        <section class="mb-4">
            <p>
            By subscribing you agree to receive the newsletter and free resources on investment products and services offered through Vison Wealth.
            </p>
        </section>
        <!-- Section: Text -->
    
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
            <!--Grid column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                    Useful links
                </h6>
                <p>
                    <a href="#!" class="text-reset">Wealth Management</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Open an Account</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Privacy Policy</a>
                </p>
                <p>
                    <a href="#!" class="text-reset">Help</a>
                </p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase">Products</h6>
    
                <ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" class="text-white">Personal Accounts</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Small Business</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Commercial Banking</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Corporate & Investment Banking</a>
                </li>
                </ul>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact Us</h6>
                <p><i class="fas fa-home me-3 text-secondary"></i> 2897 Finance, Alexandria, VA 22307</p>
                <p>
                    <i class="fas fa-envelope me-3 text-secondary"></i>
                    info@visonwealth.com
                </p>
                <p><i class="fas fa-phone me-3 text-secondary"></i> (703)258-9788</p>
                <p><i class="fas fa-print me-3 text-secondary"></i> (703)853-9788</p>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="text-uppercase">Links</h6>
    
                <ul class="list-unstyled mb-0">
                <li>
                    <a href="#!" class="text-white">FAQ's</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Make an Appointment</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Find a Location</a>
                </li>
                <li>
                    <a href="#!" class="text-white">Quick Help</a>
                </li>
                </ul>
            </div>
            <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
        </div>
        <!-- Grid container -->
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://visonwealth.com/">visonwealth.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>


</html>